
.post1{
    width: 700px;
    height: 600px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 350px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
}
.images{
    width: 100%;
    max-width:700px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title{
    text-decoration: none;
    font-size: 22px;
    margin-left: 10px;
}

.text{
    font-size: 22px;
    margin-left: 10px;
}
.logo{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 570px;
    display: inline-block;
}
.reklam{
    width: 200px;
    height: 300px;
    border:1px solid black;
    font-size: 22px;
    padding-top: 150px;
    padding-left: 50px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top:1020px;
}

.reklam1{
    width: 200px;
    height: 300px;
    border:1px solid black;
    font-size: 22px;
    padding-top: 150px;
    padding-left: 50px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top:1020px;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 150px;
    padding: 0px;
    overflow: hidden;
    background-color: lightgray;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  .active{
  background-color: gray;
  color: white;
  }
  li a:hover {
    background-color: gray;
    color: white;
  }
  